<div id="content">
  <form method="post" enctype="multipart/form-data" hx-post="/dashboard/upload/" hx-swap="outerHTML" hx-target="#content">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
    <button type="button" hx-get="/dashboard/" hx-trigger="click" hx-swap="outerHTML" hx-target="#content">Cancel</button>
  </form>
  {% if images %}
  <div id="uploaded-images-container" class="image-grid">
    {% for image in images %}
      <div id="image-container-{{ image.id }}" class="grid-item">
        <img src="{{ image.image.url }}" alt="Uploaded Image">
        <button hx-post="{% url 'delete_image' image.id %}" hx-swap="outerHTML" hx-target="#content">
          Delete
        </button>
        <!-- <pre>{{ image.id|pprint }}</pre> -->
      </div>
    {% endfor %}
  </div>  
  <div style="margin-top: 20px;">
    <button style="background-color: rgb(169, 255, 169);" type="button" hx-get="/dashboard/upload/edit" hx-trigger="click" hx-swap="outerHTML" hx-target="#content">Confirm</button>
  </div>
  {% endif %}
</div>
