<style>
    .container {
        display: flex;
    }

    .leftside {
        flex: 4;
        display: flex;
        justify-content: center;
    }

    .rightside {
        flex: 6;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }

    .edited-container {
        display: flex;
        align-items: left;
        flex-direction: column;
    }

    .bottom-container {
        margin-top: 20px;
    }

    .image-title {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
    }

    .preprocess {
        margin-right: 20px;
    }

    .original-image {
        width: 15%;
        padding-top: 10px;
        padding-right: 10px;
    }

    .edited-image {
        width: 100%;
        max-width: 600px;
    }

    .preprocess-button {
        font-size: 20px;
    }

    .preprocess-button button:hover {
        cursor: pointer;
    }

    .settings {
        flex: 0 0 750px;
        margin-top: 20px;
    }

    .settings-button {
        background-color: lightgray;
    }

    .settings-button.selected {
        background-color: darkgray;
    }

    .contrast-enhance {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .channel-separation {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .checkbox-row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 18px;
    }

    .checkbox-row input[type="checkbox"] {
        padding: 5px;
        margin-right: 5px;
        margin-left: 15px;
    }

    input[type="range"] {
        width: 250px;
        height: 20px;
        margin-bottom: 10px;
    }

    .image-color {
        border-bottom: 2px solid black;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .revert-button {
        padding-right: 20px;
        margin-top: 10px;
        font-size: 25px;
    }

    .submit-button {
        position: absolute;
        bottom: 150px;
        right: 20px;
        font-size: 25px;
    }

    .back-button {
        position: absolute;
        bottom: 150px;
        right: 100px;
        font-size: 25px;
    }

    .send-button {
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 25px;
    }

    .separation-button {
        margin: 5px;
        background-color: lightgray;
    }

    .separation-button.selected {
        background-color: darkgray;
    }

</style>

<div id="content" style="text-align: center;">
    <div>
        <p id="file-name">{{ images.0.image.name|cut:"images/" }}</p>
        <div>
            {% if images|length > 1 %}
            <button class="preprocess-button" onclick="navigate(-1)" style="margin-right: 10px;"> ← </button>
            <button class="preprocess-button" onclick="navigate(1)"> → </button>
            {% endif %}
        </div>
    </div>
    <div class="container" style="text-align: center;">
        <div class="leftside">
            <div class="preprocess">
                <div class="edited-container">
                    <h3>Pre-processed Fundus Image</h3>
                    <img class="edited-image" src="{{ images.0.preprocessed_image.image.url }}">
                </div>
                <div class="bottom-container">
                    <h3>Original Fundus Image</h3>
                    <img class="original-image" src="{{ images.0.image.url }}">
                    <button class="revert-button preprocess-button" onClick="revertChanges()">Revert Changes</button>
                    <button class="saveToComputer preprocess-button" type="button" onClick="saveToComputer()">Save Image to
                        Computer</button>
                </div>
            </div>
        </div>

        <div class="rightside">
            <div class="settings">
                <div class="image-color">
                    <button class="settings-button preprocess-button" id="rgb-button" onClick="selectColor('rgb', 'RGB')">RGB</button>
                    <button class="settings-button preprocess-button" id="grayscale-button"
                        onClick="selectColor('grayscale', 'Grayscale')">Grayscale</button>
                    <button class="settings-button preprocess-button" id="labcolor-button"
                        onClick="selectColor('labcolor', 'Lab Color')">Lab Color</button>
                </div>
                <div class="contrast-enhance">
                    <h2>Contract Enhancement</h2>
                    <div class="checkbox-row">
                        <input type="checkbox" id="HE" onclick="disableCheckbox(this, 'HE')">
                        <label for="HE">Histogram Equalization</label>
                        <input type="checkbox" id="CS" onclick="disableCheckbox(this, 'CS')">
                        <label for="CS">Contrast Stretching</label>
                        <input type="checkbox" id="GC" onclick="disableCheckbox(this, 'GC')">
                        <label for="GC">Gamma Correction</label>
                    </div>
                    <div class="checkbox-row">
                        <input type="checkbox" id="AHE" onclick="disableCheckbox(this, 'AHE')">
                        <label for="HE">Adaptive Histogram Equalization</label>
                        <input type="checkbox" id="SC" onclick="disableCheckbox(this, 'SC')">
                        <label for="SC">Sigmoid Correction</label>
                        <input type="checkbox" id="LHE" onclick="disableCheckbox(this, 'LHE')">
                        <label for="LHE">Local Histogram Equalization</label>
                    </div>
                    <div class="checkbox-row">
                        <input type="checkbox" id="PLS" onclick="disableCheckbox(this, 'PLS')">
                        <label for="PLCS">Piecewise Linear Contrast Stretching</label>
                    </div>
                </div>
                <div class="channel-separation">
                    <h2>Color Channel Separation</h2>
                    <button class="separation-button preprocess-button" id="redchannel-button" onClick="selectChannel('redchannel', 'redchannel')">Red</button>
                    <button class="separation-button preprocess-button" id="greenchannel-button" onClick="selectChannel('greenchannel', 'greenchannel')">Green</button>
                    <button class="separation-button preprocess-button" id="bluechannel-button" onClick="selectChannel('bluechannel', 'bluechannel')">Blue</button>
                </div>
                <div class="image-adjustment">
                    <h2>Image Adjustment</h2>
                    <div>
                        <label for="brightness">Brightness:</label>
                        <input type="range" id="brightness" name="brightness" min="0" max="100" value="50"
                            oninput="adjustImage('brightness', this.value)">
                        <br />
                        <label for="saturation">Saturation:</label>
                        <input type="range" id="saturation" name="saturation" min="0" max="100" value="50"
                            oninput="adjustImage('saturation', this.value)">
                        <br />
                        <label for="sharpness">Sharpness:</label>
                        <input type="range" id="sharpness" name="sharpness" min="0" max="100" value="50"
                            oninput="adjustImage('sharpness', this.value)">
                    </div>
                    <button class="save-button preprocess-button" onClick="saveImage()">Save Sliders</button>
                </div>
            </div>
        </div>
    </div>
    <button 
        class="preprocess-button"
        style="background-color: rgb(169, 255, 169);" 
        type="button" 
        hx-get="/review" 
        hx-trigger="click" 
        hx-swap="outerHTML" 
        hx-target="#content"
        >
        Confirm
    </button>
    <button 
        class="preprocess-button"
        type="button" 
        hx-get="/dashboard/upload/" 
        hx-trigger="click" 
        hx-swap="outerHTML" 
        hx-target="#content"
        >
        Go Back
    </button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // this is what saves the new image after it has been edited and replaces the old one
    var editedImageData = ''; // 'data is data:image/jpeg;base64,' followed by bytes
    var processed_filenames;
    var currentImageIndex = 0;
    var images = [
        {% for image in images %}
            "{{ image.image.url }}",
        {% endfor %}
    ];
    
    var images_object = JSON.parse('{{ images_json|safe }}')
    {% comment %} console.log("next three lines are images_object")
    console.log(images_object);
    console.log(images_object[0].fields.image);
    console.log(images_object[0].pk); {% endcomment %}

    function processImage(operation) {
        var imageData = readImageDataFromDOM();
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        var imageID = images_object[currentImageIndex].pk;
        var csrftoken = getCookie('csrftoken');
        
        //updates without refreshing the page (takes about a second)
        $.ajax({
            url: '/process_image/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                // send the operation and the image to views.py
                operation: operation,
                image_data: imageData,
                image_id: imageID,
                image_name: imageName
                
            },
            success: function (data) {
                $('.edited-image').attr('src', data.processed_image);
                editedImageData = data.processed_image;
                processed_filenames = data.preprocessed_filenames;
                // console.log(processed_filenames);
            },
            error: function (xhr, status, error) {
                console.error('Error processing image:', error);
            }
        });
    }

    function readImageDataFromDOM() {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var imageElement = document.querySelector('.edited-image');
        canvas.width = imageElement.width;
        canvas.height = imageElement.height;
        context.drawImage(imageElement, 0, 0, canvas.width, canvas.height);
        return canvas.toDataURL('image/jpeg');
    } 

    // Function to get CSRF cookie value
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function adjustImage(sliderType, sliderValue) {
        var imageData = readImageDataFromDOM();
        var csrftoken = getCookie('csrftoken');
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        var imageID = images_object[currentImageIndex].fields.pk;

        $.ajax({
            url: '/process_image/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                sliderType: sliderType, // Send the slider type (brightness, saturation, or sharpness)
                sliderValue: sliderValue, // Send the slider value
                image_data: imageData,
                image_id: imageID,
                image_name: imageName
            },
            success: function (data) {
                $('.edited-image').attr('src', data.processed_image);
                editedImageData = data.processed_image;
            },
            error: function (xhr, status, error) {
                console.error('Error adjusting image:', error);
            }
        });
    }

    function selectColor(operation, colorName) {
        // Reset styles for all buttons
        document.querySelectorAll('.settings-button').forEach(function (button) {
            button.classList.remove('selected');
        });

        document.getElementById(operation + '-button').classList.add('selected');

        isGrayscale = (operation === 'grayscale');

        processImage(operation);
    }

    function selectChannel(operation, channelName) {
        document.querySelectorAll('.separation-button').forEach(function (button) {
            button.classList.remove('selected');
        });
        document.getElementById(operation + '-button').classList.add('selected');
        processImage(operation);
    }


    /* replace the edited image with the original image again
        then loop through all the checkboxes and reset the settings
    */
    function revertChanges() {
        var originalSrc = document.querySelector('.original-image').src;
        document.querySelector('.edited-image').src = originalSrc;
        editedImageData = '';

        // Reset styles for all buttons
        document.querySelectorAll('.settings-button').forEach(function (button) {
            button.classList.remove('selected');
        });

        //reset all checkbox permissions
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
            checkbox.disabled = false;
        })

        // set all sliders back to middle
        document.getElementById('brightness').value = 50;
        document.getElementById('saturation').value = 50;
        document.getElementById('sharpness').value = 50;
    }

    function saveToComputer() {
        var processedImageURL = document.querySelector(".edited-image").src;
        var downloadLink = document.createElement("a")
        downloadLink.href = processedImageURL;
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        downloadLink.download = imageName;

        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }
    /* disabled checkboxes once they have been selected so we don't
        have to worry about reversing checkboxes, they can revert if they want different settings
    */
    function disableCheckbox(checkbox, operation) {
        if (checkbox.checked) {
            checkbox.disabled = true;
            processImage(operation);
        }
    }

    document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            // Check if the checkbox is checked
            if (this.checked) {
                // Check if the image is not in grayscale
                if (!isGrayscaleImage()) {
                    // Display popup alert
                    showGrayscaleAlert();
                    this.checked = false;
                }
            }
        });
    });

    function isGrayscaleImage() {
        return isGrayscale;
    }

    function showGrayscaleAlert() {
        window.alert('Image must be in grayscale for this option.');
    }

    function navigate(direction) {
        currentImageIndex += direction;
        if (currentImageIndex >= images.length) {
            currentImageIndex = 0; // Loop back to the first image
        } else if (currentImageIndex < 0) {
            currentImageIndex = images.length - 1; // Loop back to the last image
        }
        updateImageDisplay();
    }

    function updateImageDisplay() {
        document.querySelector('.edited-image').src = typeof processed_filenames !== 'undefined' ? processed_filenames[currentImageIndex] : images[currentImageIndex];
        document.querySelector('.original-image').src = images[currentImageIndex];
        document.getElementById('file-name').textContent = extractFileName(images[currentImageIndex]);
    }

    function extractFileName(url) {
        var parts = url.split('/');
        return parts[parts.length - 1];
    }
</script>