<div id="content" style="text-align: center;">
    <h2 style="text-align: center;">Preprocess</h2>
    <div>
        {% include 'dashboard_navbar.html' %}
    </div> 
    <div style="margin-top: 20px;">
        <button 
        {% comment %} class="preprocess-button" {% endcomment %}
        {% comment %} style="background-color: rgb(169, 255, 169);"  {% endcomment %}
        type="button" 
        hx-get="/review" 
        hx-trigger="click" 
        hx-swap="outerHTML" 
        hx-target="#content"
        class="thankyou-button"
        >
        Review
    </button>
      </div>
    <div>
        {% comment %} <button 
            class="preprocess-button"
            type="button" 
            hx-get="/dashboard/upload/" 
            hx-trigger="click" 
            hx-swap="outerHTML" 
            hx-target="#content"
            class="grey-btn"
            >
            Go Back
        </button> {% endcomment %}
    </div>
    <div class="container" style="text-align: center;">
        <div class="leftside">
            <div class="preprocess">
                <div class="edited-container">
                    <h3>Pre-processed Image</h3>
                    <img class="edited-image" src="{{ images.0.preprocessed_image.image.url }}">
                </div>
                <div class="bottom-container">
                    <h3>Original Image</h3>
                    <img class="original-image" src="{{ images.0.image.url }}">
                </div>
            </div>
        </div>

        <div class="rightside">
            <div class="settings">
                <div style="width: 100%; display: flex; justify-content: center;">
                    <div style="margin: 20px; display: flex; align-items: center; justify-content: center; text-align: center;">
                        {% if images|length > 1 %}
                        <button 
                            class="arrow-btn" 
                            onclick="navigate(-1)" 
                            style="margin-right: 10px;"
                            > 
                            ← 
                        </button>
                        {% endif %}
                        <h3 style="margin-right: 10px; font-weight: normal;">Image: </h3>
                        <h3 id="file-name" style="font-weight: normal;">{{ images.0.image.name|cut:"images/" }}</h3>
                        {% if images|length > 1 %}
                        <button class="arrow-btn" onclick="navigate(1)" style="margin-left: 10px;"> → </button>
                        {% endif %}
                    </div>
                </div>
                <h3 style="border-bottom: 2px solid black; padding-bottom:10px; font-size:20px;">Operations</h3>
                <div style="margin-top:20px; display:flex; justify-content:center;">
                    <button class="saveToComputer preprocess-button" style="margin: 0 5px 0 5px;" type="button" onClick="saveToComputer()">Save Pre-processed Image</button>
                    <button class="preprocess-button" style="margin: 0 5px 0 5px;" onClick="revertChanges()">Revert Changes</button>
                </div>
                <div style="margin: 20px; display: flex; align-items: center; justify-content: center; text-align: center;">
                    <button class="settings-button preprocess-button active-setting" id="rgb-button" onclick="toggleSettings('color', 'rgb-button')" style="margin: 5px;">Color Representation</button>
                    <button class="settings-button preprocess-button" id="contrast-button" onClick="toggleSettings('contrast', 'contrast-button')" style="margin: 5px;">Contrast Enhancement</button>
                    <button class="settings-button preprocess-button" id="channel-button" onClick="toggleSettings('channel', 'channel-button')" style="margin: 5px;">Color Channel Separation</button>
                    <button class="settings-button preprocess-button" id="adjustment-button" onClick="toggleSettings('adjustment', 'adjustment-button')" style="margin: 5px;">Image Adjustment</button>
                </div>
                <div class="image-color" id="color-settings">
                    <button class="separation-button preprocess-button" id="rgb-button" onClick="selectColor('rgb', 'RGB')">R↔B</button>
                    <button class="separation-button preprocess-button" id="grayscale-button"
                        onClick="selectColor('grayscale', 'Grayscale')">Grayscale</button>
                    <button class="separation-button preprocess-button" id="labcolor-button"
                        onClick="selectColor('labcolor', 'Lab Color')">Lab Color</button>
                </div>
                <div class="contrast-enhance" id="contrast-settings" style="display: none;">
                    <div class="checkbox-row">
                        <input type="checkbox" id="HE" onclick="disableCheckbox(this, 'HE')">
                        <label for="HE">Histogram Equalization</label>
                        {% comment %} <input type="checkbox" id="CS" onclick="disableCheckbox(this, 'CS')">
                        <label for="CS">Contrast Stretching</label> {% endcomment %}
                        <input type="checkbox" id="GC" onclick="disableCheckbox(this, 'GC')">
                        <label for="GC">Gamma Correction</label>
                    </div>
                    <div class="checkbox-row">
                        <input type="checkbox" id="AHE" onclick="disableCheckbox(this, 'AHE')">
                        <label for="HE">Adaptive Histogram Equalization</label>
                        <input type="checkbox" id="SC" onclick="disableCheckbox(this, 'SC')">
                        <label for="SC">Sigmoid Stretching</label>
                        {% comment %} <input type="checkbox" id="LHE" onclick="disableCheckbox(this, 'LHE')">
                        <label for="LHE">Local Histogram Equalization</label> {% endcomment %}
                    </div>
                    <div class="checkbox-row">
                        <input type="checkbox" id="PLS" onclick="disableCheckbox(this, 'PLS')">
                        <label for="PLCS">Contrast Limited Adaptive Histogram Equilization</label>
                    </div>
                </div>
                <div class="channel-separation" id="channel-settings" style="display: none;">
                    <button class="separation-button preprocess-button" id="redchannel-button" onClick="selectChannel('redchannel', 'redchannel')">Red</button>
                    <button class="separation-button preprocess-button" id="greenchannel-button" onClick="selectChannel('greenchannel', 'greenchannel')">Green</button>
                    <button class="separation-button preprocess-button" id="bluechannel-button" onClick="selectChannel('bluechannel', 'bluechannel')">Blue</button>
                </div>
                <div class="channel-separation" id="adjustment-settings" style="display: none;">
                    <div>
                        <label for="brightness">Brightness:</label>
                        <input type="range" id="brightness" name="brightness" min="0" max="100" value="50"
                            oninput="adjustImage('brightness', this.value)">
                        <br />
                        <label for="saturation">Saturation:</label>
                        <input type="range" id="saturation" name="saturation" min="0" max="100" value="50"
                            oninput="adjustImage('saturation', this.value)">
                        <br />
                        <label for="sharpness">Sharpness:</label>
                        <input type="range" id="sharpness" name="sharpness" min="0" max="100" value="50"
                            oninput="adjustImage('sharpness', this.value)">
                    </div>
                    {% comment %} <button class="save-button preprocess-button" onClick="saveImage()">Save Sliders</button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleSettings(settingsType, buttonId) {
        // Hide all settings divs
        document.getElementById('color-settings').style.display = 'none';
        document.getElementById('contrast-settings').style.display = 'none';
        document.getElementById('channel-settings').style.display = 'none';
        document.getElementById('adjustment-settings').style.display = 'none';
        
        // Show the selected settings div
        var targetSettings = document.getElementById(settingsType + '-settings');
        if (targetSettings) {
            targetSettings.style.display = 'block';
        }
    
        // Remove active class from all buttons
        var allButtons = document.querySelectorAll('.settings-button');
        allButtons.forEach(function(button) {
            button.classList.remove('active-setting');
        });
    
        // Add active class to the clicked button
        var clickedButton = document.getElementById(buttonId);
        if (clickedButton) {
            clickedButton.classList.add('active-setting');
        }
    }
    
    
    // this is what saves the new image after it has been edited and replaces the old one
    var editedImageData = ''; // 'data is data:image/jpeg;base64,' followed by bytes
    var processed_filenames;
    var currentImageIndex = 0;
    var images = [
        {% for image in images %}
            "{{ image.image.url }}",
        {% endfor %}
    ];
    
    var images_object = JSON.parse('{{ images_json|safe }}')
    {% comment %} console.log("next three lines are images_object")
    console.log(images_object);
    console.log(images_object[0].fields.image);
    console.log(images_object[0].pk); {% endcomment %}

    function processImage(operation) {
        var imageData = readImageDataFromDOM();
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        var imageID = images_object[currentImageIndex].pk;
        var csrftoken = getCookie('csrftoken');
        
        //updates without refreshing the page (takes about a second)
        $.ajax({
            url: '/process_image/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                // send the operation and the image to views.py
                operation: operation,
                image_data: imageData,
                image_id: imageID,
                image_name: imageName
                
            },
            success: function (data) {
                $('.edited-image').attr('src', data.processed_image);
                editedImageData = data.processed_image;
                processed_filenames = data.preprocessed_filenames;
                // console.log(processed_filenames);
            },
            error: function (xhr, status, error) {
                console.error('Error processing image:', error);
            }
        });
    }

    function readImageDataFromDOM() {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var imageElement = document.querySelector('.edited-image');
        canvas.width = imageElement.width;
        canvas.height = imageElement.height;
        context.drawImage(imageElement, 0, 0, canvas.width, canvas.height);
        return canvas.toDataURL('image/jpeg');
    } 

    // Function to get CSRF cookie value
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function adjustImage(sliderType, sliderValue) {
        var imageData = readImageDataFromDOM();
        var csrftoken = getCookie('csrftoken');
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        var imageID = images_object[currentImageIndex].pk;

        $.ajax({
            url: '/process_image/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                sliderType: sliderType, // Send the slider type (brightness, saturation, or sharpness)
                sliderValue: sliderValue, // Send the slider value
                image_data: imageData,
                image_id: imageID,
                image_name: imageName
            },
            success: function (data) {
                $('.edited-image').attr('src', data.processed_image);
                editedImageData = data.processed_image;
            },
            error: function (xhr, status, error) {
                console.error('Error adjusting image:', error);
            }
        });
    }

    function selectColor(operation, colorName) {
        // Reset styles for all buttons
        document.querySelectorAll('.settings-button').forEach(function (button) {
            button.classList.remove('selected');
        });

        // document.getElementById(operation + '-button').classList.add('selected');

        isGrayscale = (operation === 'grayscale');

        processImage(operation);
    }

    function selectChannel(operation, channelName) {
        // document.querySelectorAll('.separation-button').forEach(function (button) {
        //     button.classList.remove('selected');
        // });
        // document.getElementById(operation + '-button').classList.add('selected');
        processImage(operation);
    }


    /* replace the edited image with the original image again
        then loop through all the checkboxes and reset the settings
    */
    function revertChanges() {
        var originalSrc = document.querySelector('.original-image').src;
        document.querySelector('.edited-image').src = originalSrc;
        editedImageData = '';

        // Reset styles for all buttons
        document.querySelectorAll('.settings-button').forEach(function (button) {
            button.classList.remove('selected');
        });

        //reset all checkbox permissions
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
            checkbox.disabled = false;
        })

        // set all sliders back to middle
        document.getElementById('brightness').value = 50;
        document.getElementById('saturation').value = 50;
        document.getElementById('sharpness').value = 50;

        // 
        var imageID = images_object[currentImageIndex].pk;
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url: '/revert_preprocessed_image/',
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            data: {
                image_id: imageID,
            },
            success: function (data) {
                // console.log(data.success, data.message, data.preprocessed_filenames);
                preprocessed_filenames=data.preprocessed_filenames;
            },
            error: function (xhr, status, error) {
                console.error('Preprocessed image overwritten failure:', error);
            }
        });
    }

    function saveToComputer() {
        var processedImageURL = document.querySelector(".edited-image").src;
        var downloadLink = document.createElement("a")
        downloadLink.href = processedImageURL;
        var imageName = extractFileName(images_object[currentImageIndex].fields.image);
        downloadLink.download = imageName;

        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }
    /* disabled checkboxes once they have been selected so we don't
        have to worry about reversing checkboxes, they can revert if they want different settings
    */
    function disableCheckbox(checkbox, operation) {
        if (checkbox.checked) {
            checkbox.disabled = true;
            processImage(operation);
        }
    }

    document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            // Check if the checkbox is checked
            if (this.checked) {
                // Check if the image is not in grayscale
                if (!isGrayscaleImage()) {
                    // Display popup alert
                    showGrayscaleAlert();
                    this.checked = false;
                }
            }
        });
    });

    function isGrayscaleImage() {
        return isGrayscale;
    }

    function showGrayscaleAlert() {
        window.alert('Image must be in grayscale for this option.');
    }

    function navigate(direction) {
        currentImageIndex += direction;
        if (currentImageIndex >= images.length) {
            currentImageIndex = 0; // Loop back to the first image
        } else if (currentImageIndex < 0) {
            currentImageIndex = images.length - 1; // Loop back to the last image
        }
        updateImageDisplay();
    }

    function updateImageDisplay() {
        document.querySelector('.edited-image').src = typeof processed_filenames !== 'undefined' ? processed_filenames[currentImageIndex] : images[currentImageIndex];
        document.querySelector('.original-image').src = images[currentImageIndex];
        document.getElementById('file-name').textContent = extractFileName(images[currentImageIndex]);
    }

    function extractFileName(url) {
        var parts = url.split('/');
        return parts[parts.length - 1];
    }
</script>