<style>
  table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
  }
  th, td {
    padding: 20px;
    border: none;
  }
  .remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .review-img {
    width: auto; 
    height: 150px; 
    max-width: none; 
  }
  .filename, .action {
    white-space: nowrap; 
    padding: 8px 16px; 
  }
</style>

<div id="content">
  <table>
    <thead>
      <tr>
        <th>Uploaded Image</th>
        <th>Preprocessed Image</th>
        <th>Filename</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <td><img class="review-img" src="{{ image.image.url }}" alt="Uploaded Image"></td>
        <td><img class="review-img" src="{{ image.preprocessed_image.image.url }}" alt="Preprocessed Image"></td>
        <td>{{ image.image.name|cut:"images/" }}</td>
        <td>
          <button class="remove-btn" hx-post="{% url 'delete_image_review' image.id %}"
                  hx-swap="outerHTML" hx-target="#content">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="text-align: center; margin-top: 20px;">
    <button
      style="background-color: rgb(169, 255, 169);" 
      type="button"
      hx-post="{% url 'run_inference' %}"
      hx-trigger="click" 
      hx-swap="outerHTML" 
      hx-target="#content"
      >
      Confirm
    </button>
    <button
      type="button"
      hx-post="{% url 'preprocess' %}"
      hx-trigger="click" 
      hx-swap="outerHTML" 
      hx-target="#content"
      >
      Go Back
    </button>
  </div>
</div>
