<div id="content">
  <h2>Review</h2>
  <div>
    {% include 'dashboard_navbar.html' %}
  </div> 
  <div style="text-align: center; margin-top: 20px;">
    <button
      {% comment %} style="background-color: rgb(169, 255, 169);"  {% endcomment %}
      type="button"
      hx-post="{% url 'run_inference' %}"
      hx-trigger="click" 
      hx-swap="outerHTML" 
      hx-target="#content"
      class="thankyou-button"
      >
      Submit
      <img  class="htmx-indicator" src="/static/capstone_UI_app/bars.svg"/>
    </button>
    {% comment %} <button
      type="button"
      hx-post="{% url 'preprocess' %}"
      hx-trigger="click" 
      hx-swap="outerHTML" 
      hx-target="#content"
      class="grey-btn"
      >
      Go Back
    </button> {% endcomment %}
  </div>
  <table>
    <thead>
      <tr>
        <th>Uploaded Image</th>
        <th>Pre-processed Image</th>
        {% comment %} <th>Eye</th> {% endcomment %}
        <th>Filename</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <td><img class="review-img" src="{{ image.image.url }}" alt="Uploaded Image"></td>
        <td><img class="review-img" src="{{ image.preprocessed_image.image.url }}" alt="Preprocessed Image"></td>
          {% comment %} <td>          
            <button class="left-right-toggle" data-image-id="{{ image.id }}" onclick="toggleEye({{ image.id }}, {{ image.image.eye }})">
              {% if image.image.eye == 0 %}
                Left
              {% else %}
                Right
              {% endif %}
            </button>
          </td>           {% endcomment %}
        <td>{{ image.image.name|cut:"images/" }}</td>
        <td>
          <button class="remove-btn" hx-post="{% url 'delete_image_review' image_id=image.id %}?source=review"
            hx-swap="outerHTML" hx-target="#content">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  {% comment %} function toggleEye(imageId, currentEye) {
    const newEye = currentEye === 0 ? 1 : 0;
    fetch(`/update_eye_property/${imageId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ eye: newEye }) 
    })
    .then(response => {
        if (response.ok) {
            const button = document.querySelector(`.left-right-toggle[data-image-id="${imageId}"]`);
            button.textContent = newEye === 0 ? 'Left' : 'Right';
            button.setAttribute('onclick', `toggleEye(${imageId}, ${newEye})`);
        } else {
            console.error('Failed to update eye property');
        }
    })
    .catch(error => console.error('Error:', error));
} {% endcomment %}

</script>
