.top-navbar {
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
}

.top-navbar a {
  color: #333;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  margin-right: 20px;
}

.button-container {
  display: flex;
}

.button {
  margin-right: 10px;
}

.image-container {
  max-width: 400px;
  overflow: hidden; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); 
  grid-gap: 25px; 
}

.grid-item {
  width: auto; 
  height: auto; 
  position: relative;
  overflow: hidden; 
}

.grid-item img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: contain;
}

.grid-item button {
  width: 70px; 
}

body {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  text-align: center;
}