.navbar {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navbar-item {
  background-color: #156f9c;
  text-decoration: none;
  margin: 0 5px;
  color: black;
  font-size: 20px;
  transition: color 0.3s ease;
}

label {
  font-size: 18px;
}

.thankyou-button {
  display: inline-block; /* Switching back to inline-block for side-by-side buttons */
  padding: 10px 20px;
  margin: 10px; /* Space between buttons */
  font-size: 1.5em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 180px; /* Fixed width for all buttons */
  text-align: center;
  white-space: nowrap; /* Force the text to be on one line */
} 
.thankyou-logout-button {
  display: block; /* This makes the button a block-level element */
  width: 180px; /* Ensures width matches other buttons */
  margin: 20px auto; /* Centers the button and adds space above */
  background-color: black;
}

.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1;
  color: white;
}

main {
  margin-left:20px;
}

.arrow-btn {
  font-size: 30px;
  width: 75px;
  background-color:rgb(101, 145, 181);
  color:white;
  border-radius: 10px;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.camera-btn {
  background-color: #084d6f;
  font-size: 15px; 
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.grey-btn {
  background-color: #bcc0c5;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.container {
  display: flex;
}

.leftside {
  flex: 4;
  display: flex;
  justify-content: row;
}

.rightside {
  flex: 6;
  display: flex;
  justify-content: row;
  min-height: 1px; /* or another minimum height if needed */
  padding-left: 20px;
}

#content {
  text-align: center;
  margin-bottom:100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#content h2 {
  font-size: 28px;
  color:#033047;
  margin-bottom: 20px;

}

#content p {
  margin-bottom: 20px;
  color:#033047;
}

.container-upload {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap !important;
}

.leftside-upload {
  flex: 3;
  display: flex;
  justify-content: column; 
  justify-self: stretch;

}

.rightside-upload {
  flex: 7;
  display: flex;
  justify-content: column;
  padding-left: 20px;
  justify-self: stretch;
}

.edited-container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.bottom-container {
  margin-top: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.image-title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.preprocess {
  margin-right: 20px;
}

.original-image {
  max-width: 480px;
  width: 100%;
}

.edited-image {
  width: 100%;
  max-width: 480px;
}

.preprocess-button {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
}

.preprocess-button, .settings-button, .arrow-btn button:hover {
  cursor: pointer;
}

.settings {
  flex: 0 0 750px;
  margin-top: 20px;
  padding: 5px;
}

.settings-button {
  background-color: rgb(166, 192, 213);
  border-radius: 10px;
}

.settings-button.selected {
  background-color: rgb(101, 145, 181);
}

.contrast-enhance {
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  padding-top: 10px;
  margin-bottom: 200px;
}

.channel-separation {
  border-top: 2px solid black;
  padding-top: 10px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 18px;
}

.checkbox-row input[type="checkbox"] {
  padding: 5px;
  margin-right: 5px;
  margin-left: 15px;
}

input[type="range"] {
  width: 250px;
  height: 20px;
  margin-bottom: 10px;
}

.image-color {
  border-top: 2px solid black;
  margin-bottom: 200px;
  padding-top: 10px;
}

.revert-button {
  padding-right: 20px;
  margin-top: 10px;
  font-size: 25px;
}

.submit-button {
  position: absolute;
  bottom: 150px;
  right: 20px;
  font-size: 25px;
}

.back-button {
  position: absolute;
  bottom: 150px;
  right: 100px;
  font-size: 25px;
}

.send-button {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 25px;
}

.separation-button {
  margin: 5px;
  background-color: rgb(166, 192, 213);
  padding: 5px;
}

.separation-button.selected {
  background-color: rgb(97, 127, 152);
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

th, td {
  padding: 20px;
  border: none;
  font-size: 20px;
}

.thankyou-body {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}
.thankyou-h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.review-img {
  width: auto; 
  height: 150px; 
  max-width: none; 
}
.filename, .action {
  white-space: nowrap; 
  padding: 8px 16px; 
}

.arrow-pointer {
  width: 200px;
  height: 40px;
  background: rgb(203, 135, 9);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 178, 129);
  color: rgb(9, 9, 9);

}

/* tip of arrow */
.arrow-pointer:after {
  content: '';
  position: absolute;
  right: -1px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #c9e3f8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

/* back of arrow */
.arrow-pointer:before {
  content: '';
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(224, 178, 129);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.active {
  background-color: rgb(203, 135, 9);
}
.active:after {
  background-color:rgb(203, 135, 9);
  background:rgb(203, 135, 9);
}
.active:before {
  border-left: 10px solid rgb(203, 135, 9);
}
.active-setting {
  background-color:rgb(101, 145, 181) !important; /* Change to any color you want */
}
.disabled {
  color: #bbb; /* Greyed out text color */
  pointer-events: none; /* Disable click events */
}

.topnav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0;
}
.logo-container {
  margin-right: auto; 
}
#navbar > a {
  margin-left: 20px; 
  text-decoration: none;
  color: black;
}

.button-container {
  display: flex;
  text-align: left;
}

.main-button{
  font-size: 15px;
  background-color:#084d6f;
  color:white;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.main-button:hover {
  background-color:#033047;
  color:white;
}

.button {
  margin-right: 10px;
}

.image-container {
  max-width: 400px;
  overflow: hidden; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); 
  grid-gap: 15px; 
}

.grid-item {
  width: auto; 
  height: auto; 
  position: relative;
  overflow: hidden; 
}

.grid-item img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: contain;
}

.grid-item button {
  width: 70px; 
}

body {
  background-color: #c9e3f8;
  color: #030224;
  margin: 0 25px 0 25px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #156f9c; /* Dark blue color for the header */
  color: rgb(3, 1, 11); /* White text color for better contrast */
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: auto;
  text-align: center;
}

.medical-section {
  background-color: #f4f7f9; /* Light blue background */
  padding: 50px 0; /* Add some padding for better readability */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.welcome-section, .description-section {
  margin-bottom: 30px;
}

.welcome-section h2, .description-section h3 {
  color: #005580; /* Dark blue heading color */
}

.welcome-section p, .description-section p {
  font-size: 18px;
  line-height: 1.6;
}

.description-section {
  border-top: 1px solid #ccc; /* Add a subtle border between sections */
  padding-top: 20px;
}
