

.navbar {
  display: flex;
  justify-content: left; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

.navbar-item {
  text-decoration: none;
  margin: 0 5px;
  color: black;
}


.arrow-pointer {
  width: 200px;
  height: 40px;
  background: rgb(220, 220, 220);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-pointer:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.arrow-pointer:before {
  content: '';
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid rgb(220, 220, 220);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.active {
  background-color:rgb(170, 170, 170);
}
.active:after {
  background-color:rgb(170, 170, 170);
  background:rgb(170, 170, 170);
}
.active:before {
  border-left: 10px solid rgb(170, 170, 170);
}
.active-setting {
  background-color:rgb(170, 170, 170) !important; /* Change to any color you want */
}
.disabled {
  color: #bbb; /* Greyed out text color */
  pointer-events: none; /* Disable click events */
}

.topnav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0;
}
.logo-container {
  margin-right: auto; 
}
#navbar > a {
  margin-left: 20px; 
  text-decoration: none;
  color: black;
}

.button-container {
  display: flex;
}

.button {
  margin-right: 10px;
}

.image-container {
  max-width: 400px;
  overflow: hidden; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); 
  grid-gap: 25px; 
}

.grid-item {
  width: auto; 
  height: auto; 
  position: relative;
  overflow: hidden; 
}

.grid-item img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: contain;
}

.grid-item button {
  width: 70px; 
}

body {
  margin: 0 25px 0 25px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  text-align: center;
}